@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #141414;
  --foreground-muted: #8C8C8C;
  --border: #D1D1D1;
  --primary: #163257;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-border: var(--border);
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

.bg-gradient {
  @apply bg-linear-to-br from-[#E5F0FF] via-white to-[#bad7fed0] ;
}

.blue-gradient {
  @apply bg-gradient-to-r from-[#163257] to-[#306dbd];
}

.brand-gradient {
  background: linear-gradient(90deg, #163257 0%, #306dbd 100%);
}

.brand-gradient-radial {
  @apply bg-radial-[at_50%_75%] to-[#163257] from-[#306dbd];
}
